{% extends "base.html" %}

{% block content %}
    <div class="container-fluid" id="view-story-container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ story.activist_first }} {{ story.activist_last }}</h1>

                {% if story.activist_start and story.activist_end %}
                    <p id="story-subheading">{{ story.activist_start }} - {% if story.activist_end %}
                        {{ story.activist_end if story.activist_end != 9999 else 'Today' }}{% endif %}</p>
                {% endif %}

                <p id="story-user-date-subheading">{% if user %}
                    <strong>By: </strong> {% if user.first_name and user.last_name %}
                        {{ user.first_name }} {{ user.last_name }}
                        {% elif user.first_name %}{{ user.first_name }}
                        {% elif user.last_name %}{{ user.last_name }}
                    {% endif %}| {% endif %}
                    <strong>Date Added: </strong>{{ moment(story.date_created).format('MMMM D, YYYY') }}</p>

                <div id="story-content-container">
                    {% if story.image_url and video_url %}
                        <div id="view-story-center-wrap">
                            <img src="{{ story.image_url }}" id="view-story-img-short"/>
                            <div id="video-wrapper">
                                <iframe class="youtube-player" type="text/html" src="{{ video_url }}" frameborder="0"
                                            allowFullScreen></iframe>
                            </div>
                            <p>{{ story.content }}</p>
                        </div>
                    {% elif story.image_url and story.content|length > 1500 %}
                        <img src="{{ story.image_url }}" id="view-story-img"/>
                        <p>{{ story.content }}</p>
                    {% elif story.image_url and story.content|length < 1500 %}
                        <div id="view-story-center-wrap">
                            <img src="{{ story.image_url }}" id="view-story-img-short"/>
                            <p id="view-story-text-short">{{ story.content }}</p>
                        </div>
                    {% elif video_url %}
                        <div id="view-story-center-wrap">
                            <div id="video-wrapper">
                                <iframe class="youtube-player" type="text/html" src="{{ video_url }}" frameborder="0"
                                        allowFullScreen></iframe>
                            </div>
                            <p>{{ story.content }}</p>
                        </div>
                    {% else %}
                        <div id="view-story-center-wrap">
                            <p>{{ story.content }}</p>
                        </div>
                    {% endif %}

                    {% if story.activist_url %}
                        <p id="learn-more">To learn more, {% if story['activist_url'][:7] != 'http://' %}
                            <a href="http://{{ story.activist_url }}" target="_blank" id="learn-more-link">click
                                here</a>.
                        {% else %}
                            <a href="{{ story.activist_url }}" target="_blank">click here</a></p>
                        {% endif %}
                    {% endif %}

                </div>

            </div>
        </div>
    </div>

    <div id="view-story-social-div">
        <p>Share This Story</p>
        <div id="view-story-social">
            <a href="https://twitter.com/share?url={{ url_for('stories.view', story_id=story.id, _external=True) }}&text=I just posted a story about a woman activist who inspires me, you should too!&hashtags=20000By2020"
               target="_blank">
                <img src="{{ url_for('static', filename='img/twitter_icon.png') }}"/>
            </a>
            <a href="http://www.facebook.com/sharer.php?u={{ url_for('stories.view', story_id=story.id, _external=True) }}"
               target="_blank">
                <img src="{{ url_for('static', filename='img/facebook_icon.png') }}"/>
            </a>
        </div>
    </div>

    <div class="jumbotron" id="view-story-feedback-jumbotron">
        <div id="view-story-feedback-content">
            <h1>We'd Love Your Feedback</h1>
            <p>Share your thoughts on this story with us. Your comments will not be made public.</p>
            <a class="btn btn-default btn-lg" id="view-story-feedback-btn"
               href="mailto:womensactivism@records.nyc.gov" role="button">Email</a>
        </div>
    </div>
{% endblock %}