<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Women's Activism NYC</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/x-icon" rel="shortcut icon"
          href="{{ url_for('static', filename='img/womens_activism_nyc_logo.png') }}"/>
    <link type="image/x-icon" rel="icon" href="{{ url_for('static', filename='img/womens_activism_nyc_logo.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/plugins/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/womens_activism.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
</head>
<body>

<title>Women's Activism NYC</title>
{% include "header.html" %}

<div class="container-fluid" id="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} fade in">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endwith %}
</div>

{% block content %}
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}

<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/jquery.min.js') }}"></script>
{{ moment.include_moment(local_js=url_for('static', filename='js/plugins/moment.min.js')) }}
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap.min.js') }}"></script>
{#<script type="text/javascript" src="{{ url_for('static', filename='js/nav.js') }}"></script>#}

{% block custom_script %}
{% endblock %}
</body>
</html>